h1 {
  color: red;
  text-align: center;
}
p {
  padding: 5px;
}
body {
  margin-left: 15%;
  margin-right: 17%;
  background-color: bisque;
}
.sideBar {
  background-color: lightskyblue;
  padding: 20px;
  width: 140px;
  float: left;
}
.profile {
  width: 83%;
  float: left;
  background-color: rgb(185, 230, 194);
}
.subHeading {
  background-color: orange;
  padding-left: 20px;
}
.sideSubHeading {
  color: crimson;
  line-height: 0%;
  margin: 0px;
  padding-top: 10px;
  padding-left: 5px;
}
.skills,
.interests,
.languages {
  box-shadow: 2px 2px 5px 2px red;
}
ul {
  text-align: left;
}
